<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>msg01</display-name>
	<filter>
		<filter-name>CharEncoding</filter-name>
		<filter-class>com.linzi.msg.filter.CharFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>AdminCheckFilter</filter-name>
		<filter-class>com.linzi.msg.filter.AdminCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminCheckFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>SystemContextFilter</filter-name>
		<filter-class>com.linzi.msg.filter.SystemContextFilter</filter-class>
		<init-param>
			<param-name>pageSize</param-name>
			<param-value>15</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SystemContextFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>