<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>itat.zttc.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>itat.zttc.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>itat.zttc.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet1</display-name>
    <servlet-name>TestServlet1</servlet-name>
    <servlet-class>itat.zttc.servlet.TestServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet1</servlet-name>
    <url-pattern>/ts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NumServlet</servlet-name>
    <servlet-class>itat.zttc.servlet.NumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumServlet</servlet-name>
    <url-pattern>/nums</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>itat.zttc.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScopeServlet</servlet-name>
    <servlet-class>itat.zttc.servlet.ScopeServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>zhangsan</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScopeServlet</servlet-name>
    <url-pattern>/scope</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CharServlet</display-name>
    <servlet-name>CharServlet</servlet-name>
    <servlet-class>itat.zttc.servlet.CharServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CharServlet</servlet-name>
    <url-pattern>/charTest</url-pattern>
  </servlet-mapping>
</web-app>